body {
    margin: 0px;
}
.menu {
    margin-right: auto;
    padding: 0px;
    width: 30%;
    display: flex;
    justify-content: start;
    row-gap: 0px;
    flex-direction: column;
    box-shadow: 16px 0 52px 0 #0E185033,
                -2px 0 4px 0 #454F7E05;
}

.menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 89px;
    column-gap: 16px; 

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3E79;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 0px;
}

.menu-header__button:first-child {
    margin-left: 24px;
}

.menu-header__button:last-child {
    margin-right: 24px;
}

.menu-header__escape {
    width: 16px;
    height: 16px;
}

.menu-header__search {
    width: 17px;
    height: 17px;
}

.menu-header__logo {
    width: 97px;
    height: 51px;
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type:  none;
    padding: 0px;
}

.menu-main {
    margin-top: 11px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.menu-nav__list {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.menu-nav__element {
    padding: 16px 0px;
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.menu-nav__link {
    font-weight: 500;
    color: black;
}

.menu-nav__link:hover {
    color: #7E7E82;
    
}

.menu-nav__link:hover::before {
    position: absolute;
    left: -4px;
    width: 8px;
    border-top: 32px solid #41F6D7;
    border-radius: 5px;
    content: '';
}

.menu-contacts {
    margin-top: 268px;
    margin-left: 24px;
    width: 210px;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}

.contact-buttons__list {
    margin: 0px;
    display: flex;
    column-gap: 16px;
}

.menu-contacts__email {
    margin: 0px;
    font-weight: 500;
}

.menu-contacts__phone {
    margin: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.lang {
    margin-top: 40px;
    margin-left: 24px;
}

.lang__link {
    color: black;
    font-weight: 500;
}

.ru {
    color: #7E7E82;
    font-weight: 400;
}
.lang__list {
    display: flex;
    column-gap: 7px;
    margin-top: 0px;
    margin-bottom: 32px;
}